.client {
    padding: 50px 0;
    background-color: #1c2024;
}
.client-list {
    display: flex;
    gap:0 80px;
    justify-content: center;
    margin: 30px 0;
}

.client-item {
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    height: 250px;
}

@media screen and (max-width: 768px){
    .client-list {
        flex-direction: column;
        gap: 30px 0;
    }
}