.contact {
    padding: 50px 0;
    background-color: #1c2024;
}

.contact-form {
    margin: 30px auto;
    width: 100%;
    max-width: 450px;
}
.contact-item {
    width: 100%;
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 22px;
    color: #fff;
    margin-bottom: 5px;
    display: inline-block;
}

.contact-form input {
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 10px;

    border: double 2px transparent;
    border-radius: 6px;
    background-image: linear-gradient(#1c2024, #1c2024), 
                        var(--gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
