.technology {
    padding: 50px 0;
    background-color: #1c2024;
    color: #fff;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> f96014b2cdbbf62acea07bee8348ee06d29cb031
}

.technology-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 50px;
}

.technology-item {
    display: flex;
    gap: 0 10px;
}
.technology-item:nth-child(even){
    flex-direction: row-reverse;
    column-gap: 30px;
}

.technology-image {
    padding: 15px;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 200px;
    border-radius: 20px !important;
    margin: 0 auto;
}

.technology-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

<<<<<<< HEAD
.technology .bg-image {
    padding: 50px 0;
    background-image: url(../../image/bg-technology.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 25%;
    width: 100%;
    height: 100%;
}
=======
>>>>>>> f96014b2cdbbf62acea07bee8348ee06d29cb031
@media screen and (max-width: 768px){
    .technology-list {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}
@media screen and (max-width: 468px){
    .technology-item {
        flex-direction: column !important;
    }
}